[role="main"] {
  display: flex;

  .layout-content {
    flex: 1 0 80%;
  }

  .layout-sidebar-first {
    flex: 0 1 auto;
  }
}

.header-container {
  display: flex;
}

.custom-kabi-list-view {
  background: #f2f2f2;
  border: 2px solid #c0c0c0;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;

    thead th {
      border-bottom: 1px solid #000;
      padding: 5px 0 9px;
    }

    tbody td {
      padding: 5px 10px 9px;
      text-align: center;
    }

  }
}

body:not([class*=toolbar]) .layout-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

body:not([class*=toolbar]) .layout-container #block-kabi-page-title {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
}

body:not([class*=toolbar]) .layout-container #block-kabi-local-tasks ul {
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 100%;
}

body:not([class*=toolbar]) .layout-container #block-kabi-local-tasks ul li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #f2f2f2;
  flex: 1;
  text-align: center;
  border-right: 1px solid #c0c0c0;
}

body:not([class*=toolbar]) .layout-container #block-kabi-local-tasks ul li:last-child {
  border-right: none;
}

body:not([class*=toolbar]) .layout-container #block-kabi-local-tasks ul li a {
  color: #10bdd2;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
}

body:not([class*=toolbar]) .layout-container form .form-item {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

body:not([class*=toolbar]) .layout-container form .form-item [class*=desc] {
  display: none;
}

body:not([class*=toolbar]) .layout-container form .form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

body:not([class*=toolbar]) .layout-container form .form-actions input {
  padding: 10px 25px;
}

.kabi-table-links .dropbutton-wrapper.dropbutton-multiple {
  padding: 0 20px;
  margin: 0;
}
