$register-hcp-width: 41.2%;

@media (min-width: 1367px) {
  .kabi-preview-modal {
    .modal-container {
      .main-section {
        padding: 0 145px;

        .register-hcp-section {
          margin: unset;

          .title {
            font-size: 38px;
            line-height: 50px;
            margin-bottom: 56px;
            text-align: left;
          }

          .user-title,
          .firstname,
          .lastname,
          .country,
          .healthcare-organization,
          .email,
          .password,
          .confirm-password,
          .registration-number {
            margin-bottom: 19px;
            width: $register-hcp-width;
          }

          .registration-number {
            margin-bottom: 32px;
          }

          .checkbox {
            .label {
              margin-left: 13px;
            }
          }

          .submit-button {
            margin-top: 47px;
            width: 255px;
          }
        }
      }
    }
  }
}
