.kabi-preview-modal,
.kabi-preview-modal-mobile {
  .modal-container {
    .main-section {
      .register-hcp-section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

        .title {
          color: $blue-3;
          font-size: 33px;
          font-weight: bold;
          letter-spacing: 0.4px;
          line-height: 41px;
          margin-bottom: 64px;
          text-align: center;
        }

        .user-title,
        .firstname,
        .lastname,
        .country,
        .healthcare-organization,
        .email,
        .password,
        .confirm-password {
          margin-bottom: 16px;
        }

        .user-title,
        .country {
          position: relative;
        }

        .user-title,
        .country {
          &::after {
            content: "\f078";
            color: $white-1;
            font-family: $font-awesome;
            width: 50px;
            height: 35px;
            background: $orange-1;
            position: absolute;
            top: 2px;
            right: 0;
            border-radius: 0 10px 10px 0;
            text-align: center;
            padding-top: 15px;
          }
        }

        .registration-number {
          margin-bottom: 34px;
        }

        .text {
          background: $white-1;
          border: none;
          border-radius: 10px;
          color: $blue-4;
          font-size: 16px;
          height: 50px;
          line-height: 140.5%;
          padding: 13px 100px 8px 16px;
          width: 100%;
        }

        .checkbox {
          align-items: center;
          display: flex;

          .box {
            border: 2px solid $blue-4;
            box-sizing: border-box;
            height: 27px;
            min-width: 27px;
            position: relative;
            width: 27px;

            &::after {
              color: $blue-4;
              content: "\f00c";
              font-family: $font-awesome;
              left: 5px;
              position: absolute;
              top: 2px;
            }
          }

          .label {
            font-weight: 300;
            font-size: 16px;
            line-height: 140.5%;
            color: $blue-4;
            margin-left: 21px;
          }
        }

        .submit-button {
          align-items: center;
          background: $orange-1;
          border-radius: 30px;
          box-shadow: 0 2px 12px rgba(24, 44, 76, 0.139505);
          display: flex;
          justify-content: center;
          margin-top: 32px;
          min-height: 55px;

          .label {
            color: $white-1;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
