<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" style="font-family:arial, 'helvetica neue', helvetica, sans-serif">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title>New Template</title><!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
  <style type="text/css">
    #outlook a {
      padding:0;
    }
    .es-button {
      mso-style-priority:100!important;
      text-decoration:none!important;
    }
    a[x-apple-data-detectors] {
      color:inherit!important;
      text-decoration:none!important;
      font-size:inherit!important;
      font-family:inherit!important;
      font-weight:inherit!important;
      line-height:inherit!important;
    }
    .es-desk-hidden {
      display:none;
      float:left;
      overflow:hidden;
      width:0;
      max-height:0;
      line-height:0;
      mso-hide:all;
    }
    [data-ogsb] .es-button {
      border-width:0!important;
      padding:10px 20px 10px 20px!important;
    }
    .es-button-border:hover a.es-button, .es-button-border:hover button.es-button {
      background:#56d66b!important;
      border-color:#56d66b!important;
    }
    .es-button-border:hover {
      border-color:#42d159 #42d159 #42d159 #42d159!important;
      background:#56d66b!important;
    }
    td .es-button-border:hover a.es-button-1 {
      background:#f7a900!important;
      border-color:#f7a900!important;
    }
    td .es-button-border-2:hover {
      background:#f7a900!important;
      border-color:#e5e5e5 #e5e5e5 #e5e5e5 #e5e5e5!important;
      border-style:solid solid solid solid!important;
    }
    [data-ogsb] .es-button.es-button-3 {
      padding:15px 70px!important;
    }
    @media only screen and (max-width:600px) {p, ul li, ol li, a { line-height:150%!important } h1, h2, h3, h1 a, h2 a, h3 a { line-height:120% } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important; text-align:left } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important; text-align:left } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important; text-align:left } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class="gmail-fix"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:inline-block!important } a.es-button, button.es-button { font-size:18px!important; display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } }
  </style>
</head>
<body style="width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0">
<div class="es-wrapper-color" style="background-color:#F6F6F6">
  <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top">
    <tr>
      <td valign="top" style="padding:0;Margin:0">
        <table class="es-header" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top">
          <tr>
            <td align="center" style="padding:0;Margin:0">
              <table class="es-header-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                <tr>
                  <td align="left" style="padding:0;Margin:0">
                    <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                      <tr>
                        <td align="center" valign="top" style="padding:0;Margin:0;width:600px">
                          <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                              <td align="center" style="padding:0;Margin:0;font-size:0px"><img class="adapt-img" src="https://wbcmsx.stripocdn.email/content/guids/CABINET_f66b4fe2f4e7bbe71944b33351f5e8e4/images/header.png" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="600"></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
        </table>
        <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
          <tr>
            <td align="center" style="padding:0;Margin:0">
              <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#f7f9fa" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#f7f9fa;width:600px">
                <tr>
                  <td align="left" bgcolor="#f7f9fa" style="padding:0;Margin:0;padding-top:20px;background-color:#f7f9fa">
                    <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                      <tr>
                        <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                          <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                              <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-bottom:55px"><h3 style="Margin:0;line-height:34px;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:28px;font-style:normal;font-weight:normal;color:#0063be;margin-bottom:5px"><strong>Today with KabiCare</strong></h3><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:40px;color:#000000;font-size:18px">Hello!<br>Thanks for setting up reminders with KabiCare.<br><strong><span style="color:#0063be">Here is what you've got on today:</span></strong></p></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;padding-top:40px;font-size:0px;background:white"><img class="adapt-img" src="https://wbcmsx.stripocdn.email/content/guids/CABINET_f66b4fe2f4e7bbe71944b33351f5e8e4/images/medication.png" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="113"></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;background:white"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#0063be;font-size:20px"><strong>Medication</strong></p></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;background:white"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:27px;color:#333333;font-size:18px">{{message.medication_message}}</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:27px;color:#333333;font-size:18px"><br></p></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;padding-bottom:20px;background:white"><span class="es-button-border-2 es-button-border" style="border-style:solid;border-color:#f7a900;background:#f7a900;border-width:0px 0px 2px 0px;display:inline-block;border-radius:30px;width:auto;margin-bottom:20px;border-bottom-width:0px"><a href="{{message.medication_link}}" class="es-button es-button-1" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#ffffff;font-size:20px;border-style:solid;border-color:#f7a900;border-width:15px 70px;display:inline-block;background:#f7a900;border-radius:30px;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-weight:bold;font-style:normal;line-height:24px;width:auto;text-align:center;padding:0px 20px">See now</a></span></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;padding-top:40px;font-size:0px;background:white"><img class="adapt-img" src="https://wbcmsx.stripocdn.email/content/guids/CABINET_f66b4fe2f4e7bbe71944b33351f5e8e4/images/goals.png" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="113"></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;background:white"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#0063be;font-size:20px"><strong>Goals due</strong></p></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;background:white"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:27px;color:#333333;font-size:18px">{{message.goals_message}}</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:27px;color:#333333;font-size:18px"><br></p></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0;padding-bottom:40px;background:white"><span class="es-button-border-2 es-button-border" style="border-style:solid;border-color:#f7a900;background:#f7a900;border-width:0px 0px 2px 0px;display:inline-block;border-radius:30px;width:auto;margin-bottom:20px;border-bottom-width:0px"><a href="{{message.goals_link}}" class="es-button es-button-1" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#ffffff;font-size:20px;border-style:solid;border-color:#f7a900;border-width:15px 70px;display:inline-block;background:#f7a900;border-radius:30px;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-weight:bold;font-style:normal;line-height:24px;width:auto;text-align:center;padding:0px 20px">See now</a></span></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
        </table>
        <table class="es-footer" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top">
          <tr>
            <td align="center" style="padding:0;Margin:0">
              <table class="es-footer-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                <tr>
                  <td align="left" bgcolor="#f7a900" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;background-color:#f7a900;height:229px">
                    <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                      <tr>
                        <td align="center" valign="top" style="padding:0;Margin:0">
                          <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                              <td align="center" style="padding:0;Margin:0"><h3 style="Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:20px;font-style:normal;font-weight:bold;color:#ffffff">Login to Kabicare now</h3></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0;Margin:0"><span class="es-button-border-2 es-button-border" style="border-style:solid;border-color:#ffffff;background:#f7a900;border-width:3px;display:inline-block;border-radius:30px;width:auto;margin-top:34px"><a href="{{message.login_url}}" class="es-button es-button-1" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#ffffff;font-size:20px;border-style:solid;border-color:#f7a900;border-width:12px 112px;display:inline-block;background:#f7a900;border-radius:30px;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-weight:bold;font-style:normal;line-height:24px;width:auto;text-align:center;padding:0px 20px"> LOG IN </a></span></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#f7f9fa" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;background-color:#f7f9fa">
                    <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                      <tr>
                        <td valign="top" align="center" style="padding:0;Margin:0;width:560px">
                          <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                              <td align="left" style="padding:0;Margin:0;padding-top:40px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px">Kind regards,</p><h3 style="Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:20px;font-style:normal;font-weight:bold;color:#0063BE">The KabiCare Team</h3></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#f7f9fa" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;background-color:#f7f9fa">
                    <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                      <tr>
                        <td align="center" valign="top" style="padding:0;Margin:0;width:560px">
                          <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                              <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px"><br>This email is only intended for patients being treated with IDACIO▼ (adalimumab) who have access to the KabiCare website and have agreed to receive emails related to their KabiCare account. You can unsubscribe at any time by clicking on the 'Unsubscribe' link in the footer.<br><br>This email is only intended for patients being treated with IDACIO▼(adalimumab) who have access to the KabiCare website and have agreed to receive emails related to their KabiCare account. You can unsubscribe at any time by clicking on the 'Unsubscribe' link in the footer.This medicinal product is subject to additional monitoring. This will allow quick identification of new safety information. You can help by reporting any side effects you may get. If you experience any side effects, talk to your doctor, pharmacist or nurse. This includes any side effects not listed in the package leaflet. You can also report side effects directly via the Yellow Card Scheme at http://www.mhra.gov.uk/yellowcard (for UK residents) or see http://www.hpra.ie/homepage/medicines/safety-information/reporting-suspected-side-effects (for residents of the Republic of Ireland). By reporting side effects, you can help provide more information on the safety of this medicine.<br><br>For more information about how we process your data, please see our privacy statement.<br><br>KabiCare has been developed and funded by Fresenius Kabi.<br><br>Fresenius Kabi Limited is a company registered in England and Wales with company number: 02182135 with registered office at Cestrian Court, Eastgate Way, Manor Park, Runcorn, Cheshire, WA7 1NT which operates in the Republic of Ireland from Unit 3B Fingal Bay Business Park, Blalbriggan Co Dublin. Fresenius Kabi Limited is a wholly owned subsidiary of FHC (Holdings) Limited (a company registered in England and Wales with the company number: 00886829) which is part of the Fresenius SE &amp;Co KGaA healthcare group.<br><br>XX/XX/XX/XXX | January 2021</p></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>
</html>
