.header{height:200px;border:5px solid #000}.navigation-item{border:5px solid #f00;max-width:unset;min-width:unset;width:-webkit-fit-content;width:fit-content;width:-moz-fit-content;padding:10px 30px;margin:8px}[role="main"]{display:-ms-flexbox;display:flex}[role="main"] .layout-content{-ms-flex:1 0 80%;flex:1 0 80%}[role="main"] .layout-sidebar-first{-ms-flex:0 1 auto;flex:0 1 auto}.header-container{display:-ms-flexbox;display:flex}body{background:#0a6eb4}

/*# sourceMappingURL=style.css.map */
