#edit-container-for-button .details-wrapper .messages--error {
  display: none;
}

.view-id-patient_access_codes .view-filters form .form--inline {
  display: flex;
  flex-direction: column;
}

.view-id-patient_access_codes .view-filters form .form--inline #edit-actions {
  order: 3;
}

.view-id-patient_access_codes .view-filters form .form--inline .form-item-code {
  order: 2;
}

.mail-logo {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
  background: #0a65aa;
}
