$login-width: 41.2%;

@media (min-width: 1367px) {
  .kabi-preview-modal {
    top: 0;

    .close-button {
      right: 10%;
      top: 10%;
    }

    .controls-to-mobile {
      display: flex;
      left: 10%;
      top: 10%;
      z-index: 1;
    }

    .controls-to-desktop {
      display: none;
    }

    .controls-scale {
      display: none;
    }

    .modal-container {
      border-radius: 20px;
      height: 80%;
      overflow-x: hidden;
      padding: 20px;
      width: 80%;

      .main-section {
        flex-direction: row;
        padding: 0 145px;
        width: 100%;

        .login-section,
        .register-section {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
        }

        .login-section {
          margin: 82px 30px 0 0;
          width: $login-width;

          .title {
            font-size: 38px;
            line-height: 50px;
            margin-bottom: 47px;
            text-align: left;
          }

          .email {
            margin-bottom: 48px;
          }

          .password {
            margin-bottom: 15px;
          }

          .forgots {
            margin-bottom: 116px;
          }

          .submit-button {
            margin: 0;
            width: 255px;
          }
        }

        .register-section {
          padding: 44px 39px 39px;
          width: calc(100% - #{$login-width});

          .title {
            font-size: 38px;
            line-height: 50px;
            margin-bottom: 28px;
          }

          .content {
            margin-bottom: 32px;
          }

          .button-container {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 32px;

            .patient-button {
              margin-bottom: 0;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}
