.kabi-preview-modal-mobile,
.kabi-preview-modal {
  background: rgba(0, 0, 0, .3);
  display: flex;
  font-family: $interstate;
  height: 100%;
  left: 0;
  position: fixed;
  top: 40px;
  width: 100%;

  .close-button {
    border: 2px solid $blue-1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    margin: 20px;
    position: absolute;
    right: 0;
    width: 30px;

    .label {
      color: $blue-1;
      font-size: 14px;
      font-weight: bold;
      margin: auto;
      pointer-events: none;
    }
  }

  .controls-to-mobile,
  .controls-to-desktop,
  .controls-scale {
    border: 2px solid $blue-1;
    border-radius: 30px;
    cursor: pointer;
    left: 5%;
    margin: 20px;
    padding: 8px 13px;
    position: absolute;
    top: 5%;

    .label {
      color: $blue-1;
      font-size: 14px;
      line-height: 17px;
      margin: auto;
    }
  }

  .controls-scale {
    left: 15%;
  }

  .controls-to-mobile {
    display: none;
  }

  .controls-to-desktop {
    display: flex;
  }

  .modal-container {
    background: $blue-2;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    margin: auto;
    overflow: scroll;
    padding: 25px;
    width: 100%;

    .main-section {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 375px;

      .login-section,
      .register-section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
      }

      .login-section {
        margin-top: 100px;

        .title {
          color: $blue-3;
          font-size: 33px;
          font-weight: bold;
          letter-spacing: 0.4px;
          line-height: 41px;
          margin-bottom: 64px;
          text-align: center;
        }

        .email {
          margin-bottom: 16px;
        }

        .password {
          margin-bottom: 16px;
        }

        .text {
          background: $white-1;
          border: none;
          border-radius: 10px;
          color: $blue-4;
          font-size: 16px;
          height: 50px;
          line-height: 140.5%;
          padding: 13px 100px 8px 16px;
          width: 100%;
        }

        .forgots {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 16px;

          .forgot {
            &-email,
            &-password {
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 0.4px;
              line-height: 36px;
              text-align: center;
              text-decoration-line: underline;
            }

            &-email {
              margin-right: 18px;
            }
          }
        }

        .submit-button {
          background: $orange-1;
          border-radius: 30px;
          box-shadow: 0 2px 12px rgba(24, 44, 76, 0.139505);
          display: flex;
          height: 55px;
          margin: 0 auto 50px;
          width: 325px;

          .label {
            color: $white-1;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 22px;
            margin: auto;
          }
        }
      }

      .register-section {
        background: $blue-1;
        border-radius: 30px;
        margin-bottom: 45px;
        padding: 42px 39px 39px;

        .title {
          color: $white-1;
          font-size: 33px;
          font-weight: bold;
          letter-spacing: 0.4px;
          line-height: 41px;
          margin-bottom: 23px;
        }

        .content {
          color: $white-1;
          margin-bottom: 35px;
        }

        .button-container {
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-bottom: 26px;

          .patient-button,
          .hcp-button {
            border: 2px solid $white-1;
            border-radius: 30px;
            display: flex;
            filter: drop-shadow(0px 2px 12px rgba(24, 44, 76, 0.139505));
            height: 55px;
            padding: 0 18px;

            .label {
              color: $white-1;
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 1px;
              line-height: 22px;
              margin: auto;
            }
          }

          .patient-button {
            margin-bottom: 26px;
          }
        }

        .description {
          color: $white-1;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.4px;
          line-height: 19px;
        }
      }
    }
  }
}

.kabi-preview-modal-mobile {
  .close-button {
    right: 5%;
    top: 5%;
  }

  .modal-container {
    border-radius: 30px 0 0 30px;
    height: 90%;
    overflow-x: hidden;
    width: 90%;
  }
}
