@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Interstate-bold';
  src: url(../fonts/Interstate-bold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Interstate-light';
  src: url(../fonts/Interstate-light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Brands-Regular-400';
  src: url('../fonts/Font Awesome 5 Brands-Regular-400.otf') format('opentype');
}

@font-face {
  font-family: 'Font Awesome 5 Free-Regular-400';
  src: url('../fonts/Font Awesome 5 Free-Regular-400.otf') format('opentype');
}

@font-face {
  font-family: 'Font Awesome 5 Free-Solid-900';
  src: url('../fonts/Font Awesome 5 Free-Solid-900.otf') format('opentype');
}

.kabi-preview-modal-mobile, .kabi-preview-modal {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  font-family: 'Interstate';
  height: 100%;
  left: 0;
  position: fixed;
  top: 40px;
  width: 100%;
}

.kabi-preview-modal-mobile .close-button, .kabi-preview-modal .close-button {
  border: 2px solid #0063BE;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin: 20px;
  position: absolute;
  right: 0;
  width: 30px;
}

.kabi-preview-modal-mobile .close-button, .kabi-preview-modal .controls-to-mobile {
  display: flex;
}

.kabi-preview-modal-mobile .close-button, .kabi-preview-modal .controls-to-desktop {
  display: none;
}

.kabi-preview-modal-mobile .close-button, .kabi-preview-modal .controls-scale {
  display: flex;
}

.controls-to-mobile,
.controls-to-desktop,
.controls-scale {
  border: 2px solid #0063BE;
  border-radius: 30px;
  cursor: pointer;
  left: 5%;
  margin: 20px;
  padding: 8px 13px;
  position: absolute;
  top: 5%;
}

.controls-to-mobile .label,
.controls-to-desktop .label,
.controls-scale .label {
  color: #0063BE;
  font-size: 14px;
  line-height: 17px;
  margin: auto;
}

.controls-scale {
  left: 15%;
}

.controls-to-mobile {
  display: none;
}

.controls-to-desktop {
  display: flex;
}

.kabi-preview-modal-mobile .close-button .label, .kabi-preview-modal .close-button .label {
  color: #0063BE;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  pointer-events: none;
}

.kabi-preview-modal-mobile .modal-container, .kabi-preview-modal .modal-container {
  background: #F4F8FA;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin: auto;
  overflow: scroll;
  padding: 25px;
  width: 100%;
}

.kabi-preview-modal-mobile .modal-container .main-section, .kabi-preview-modal .modal-container .main-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 375px;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section, .kabi-preview-modal-mobile .modal-container .main-section .register-section, .kabi-preview-modal .modal-container .main-section .login-section, .kabi-preview-modal .modal-container .main-section .register-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section, .kabi-preview-modal .modal-container .main-section .login-section {
  margin-top: 100px;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .title, .kabi-preview-modal .modal-container .main-section .login-section .title {
  color: #00C2DF;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 41px;
  margin-bottom: 64px;
  text-align: center;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .email, .kabi-preview-modal .modal-container .main-section .login-section .email {
  margin-bottom: 16px;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .password, .kabi-preview-modal .modal-container .main-section .login-section .password {
  margin-bottom: 16px;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .text, .kabi-preview-modal .modal-container .main-section .login-section .text {
  background: #fff;
  border: none;
  border-radius: 10px;
  color: #182C4C;
  font-size: 16px;
  height: 50px;
  line-height: 140.5%;
  padding: 13px 100px 8px 16px;
  width: 100%;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .forgots, .kabi-preview-modal .modal-container .main-section .login-section .forgots {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .forgots .forgot-email, .kabi-preview-modal-mobile .modal-container .main-section .login-section .forgots .forgot-password, .kabi-preview-modal .modal-container .main-section .login-section .forgots .forgot-email, .kabi-preview-modal .modal-container .main-section .login-section .forgots .forgot-password {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 36px;
  text-align: center;
  text-decoration-line: underline;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .forgots .forgot-email, .kabi-preview-modal .modal-container .main-section .login-section .forgots .forgot-email {
  margin-right: 18px;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .submit-button, .kabi-preview-modal .modal-container .main-section .login-section .submit-button {
  background: #F7A900;
  border-radius: 30px;
  box-shadow: 0 2px 12px rgba(24, 44, 76, 0.139505);
  display: flex;
  height: 55px;
  margin: 0 auto 50px;
  width: 325px;
}

.kabi-preview-modal-mobile .modal-container .main-section .login-section .submit-button .label, .kabi-preview-modal .modal-container .main-section .login-section .submit-button .label {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 22px;
  margin: auto;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section, .kabi-preview-modal .modal-container .main-section .register-section {
  background: #0063BE;
  border-radius: 30px;
  margin-bottom: 45px;
  padding: 42px 39px 39px;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section .title, .kabi-preview-modal .modal-container .main-section .register-section .title {
  color: #fff;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 41px;
  margin-bottom: 23px;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section .content, .kabi-preview-modal .modal-container .main-section .register-section .content {
  color: #fff;
  margin-bottom: 35px;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section .button-container, .kabi-preview-modal .modal-container .main-section .register-section .button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section .button-container .patient-button, .kabi-preview-modal-mobile .modal-container .main-section .register-section .button-container .hcp-button, .kabi-preview-modal .modal-container .main-section .register-section .button-container .patient-button, .kabi-preview-modal .modal-container .main-section .register-section .button-container .hcp-button {
  border: 2px solid #fff;
  border-radius: 30px;
  display: flex;
  filter: drop-shadow(0px 2px 12px rgba(24, 44, 76, 0.139505));
  height: 55px;
  padding: 0 18px;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section .button-container .patient-button .label, .kabi-preview-modal-mobile .modal-container .main-section .register-section .button-container .hcp-button .label, .kabi-preview-modal .modal-container .main-section .register-section .button-container .patient-button .label, .kabi-preview-modal .modal-container .main-section .register-section .button-container .hcp-button .label {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 22px;
  margin: auto;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section .button-container .patient-button, .kabi-preview-modal .modal-container .main-section .register-section .button-container .patient-button {
  margin-bottom: 26px;
}

.kabi-preview-modal-mobile .modal-container .main-section .register-section .description, .kabi-preview-modal .modal-container .main-section .register-section .description {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 19px;
}

.kabi-preview-modal-mobile .close-button {
  right: 5%;
  top: 5%;
}

.kabi-preview-modal-mobile .modal-container {
  border-radius: 30px 0 0 30px;
  height: 90%;
  overflow-x: hidden;
  width: 90%;
}

@media (min-width: 1367px) {
  .kabi-preview-modal {
    top: 0;
  }

  .kabi-preview-modal .close-button {
    right: 10%;
    top: 10%;
  }

  .kabi-preview-modal .controls-to-mobile {
    display: flex;
    left: 10%;
    top: 10%;
    z-index: 1;
  }

  .kabi-preview-modal .controls-to-desktop {
    display: none;
  }

  .kabi-preview-modal .controls-scale {
    display: none;
  }

  .kabi-preview-modal .modal-container {
    border-radius: 20px;
    height: 80%;
    overflow-x: hidden;
    padding: 20px;
    width: 80%;
  }

  .kabi-preview-modal .modal-container .main-section {
    flex-direction: row;
    width: 100%;
  }

  .kabi-preview-modal .modal-container .main-section .login-section, .kabi-preview-modal .modal-container .main-section .register-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .kabi-preview-modal .modal-container .main-section .login-section {
    margin: 82px 30px 0 0;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .login-section .title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 47px;
    text-align: left;
  }

  .kabi-preview-modal .modal-container .main-section .login-section .email {
    margin-bottom: 48px;
  }

  .kabi-preview-modal .modal-container .main-section .login-section .password {
    margin-bottom: 15px;
  }

  .kabi-preview-modal .modal-container .main-section .login-section .forgots {
    margin-bottom: 116px;
  }

  .kabi-preview-modal .modal-container .main-section .login-section .submit-button {
    margin: 0;
    width: 255px;
  }

  .kabi-preview-modal .modal-container .main-section .register-section {
    max-width: 635px;
    min-width: 635px;
    padding: 44px 39px 39px;
  }

  .kabi-preview-modal .modal-container .main-section .register-section .title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 28px;
  }

  .kabi-preview-modal .modal-container .main-section .register-section .content {
    margin-bottom: 32px;
  }

  .kabi-preview-modal .modal-container .main-section .register-section .button-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .kabi-preview-modal .modal-container .main-section .register-section .button-container .patient-button {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.kabi-preview-modal .modal-container .main-section .register-patient-section, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .title, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .title {
  color: #00C2DF;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 41px;
  margin-bottom: 64px;
  text-align: center;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .email, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .email {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .text, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .text {
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  color: #182C4C;
  font-size: 16px;
  height: 50px;
  line-height: 140.5%;
  padding: 13px 100px 8px 16px;
  width: 100%;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .condition, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .condition {
  margin-bottom: 16px;
  position: relative;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .access-code, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .access-code {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .password, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .password {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .confirm-password, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .confirm-password {
  margin-bottom: 34px;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .checkbox, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .checkbox {
  display: flex;
  align-items: center;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .checkbox .box, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .checkbox .box {
  height: 27px;
  width: 27px;
  border: 2px solid #182C4C;
  box-sizing: border-box;
  min-width: 27px;
  position: relative;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .checkbox .label, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .checkbox .label {
  font-weight: 300;
  font-size: 16px;
  line-height: 140.5%;
  color: #182C4C;
  margin-left: 21px;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .checkbox .box::after, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .checkbox .box::after {
  content: "\f00c";
  color: #182C4C;
  position: absolute;
  top: 2px;
  left: 5px;
  font-family: 'Font Awesome 5 Free-Solid-900'
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .submit-button, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .submit-button {
  margin-top: 32px;
  min-height: 55px;
  background: #F7A900;
  box-shadow: 0px 2px 12px rgba(24, 44, 76, 0.139505);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .submit-button .label, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .submit-button .label {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.kabi-preview-modal .modal-container .main-section .register-patient-section .condition::after, .kabi-preview-modal-mobile .modal-container .main-section .register-patient-section .condition::after {
  content: "\f078";
  color: #fff;
  font-family: 'Font Awesome 5 Free-Solid-900';
  width: 50px;
  height: 35px;
  background: orange;
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding-top: 15px;
}


@media (min-width: 1367px) {
  .kabi-preview-modal .modal-container .main-section .register-patient-section {
    margin: unset;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 56px;
    text-align: left;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .email {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .condition {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .access-code {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .password {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .confirm-password {
    margin-bottom: 29px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .checkbox .label {
    margin-left: 13px;
  }

  .kabi-preview-modal .modal-container .main-section .register-patient-section .submit-button {
    margin-top: 54px;
    width: 255px;
  }

  .kabi-preview-modal .modal-container .main-section {
    padding: 0 145px;
  }
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .title, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .title {
  color: #00C2DF;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 41px;
  margin-bottom: 64px;
  text-align: center;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .user-title, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .user-title {
  margin-bottom: 16px;
  position: relative;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .user-title::after, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .user-title::after {
  content: "\f078";
  color: #fff;
  font-family: 'Font Awesome 5 Free-Solid-900';
  width: 50px;
  height: 35px;
  background: orange;
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding-top: 15px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .firstname, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .firstname {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .lastname, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .lastname {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .country, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .country {
  margin-bottom: 16px;
  position: relative;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .country::after, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .country::after {
  content: "\f078";
  color: #fff;
  font-family: 'Font Awesome 5 Free-Solid-900';
  width: 50px;
  height: 35px;
  background: orange;
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding-top: 15px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .healthcare-organization, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .healthcare-organization {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .email, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .email {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .text, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .text {
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  color: #182C4C;
  font-size: 16px;
  height: 50px;
  line-height: 140.5%;
  padding: 13px 100px 8px 16px;
  width: 100%;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .condition, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .condition {
  margin-bottom: 16px;
  position: relative;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .access-code, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .access-code {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .password, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .password {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .confirm-password, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .confirm-password {
  margin-bottom: 16px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .registration-number, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .registration-number {
  margin-bottom: 34px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .checkbox, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .checkbox {
  display: flex;
  align-items: center;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .checkbox .box, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .checkbox .box {
  height: 27px;
  width: 27px;
  border: 2px solid #182C4C;
  box-sizing: border-box;
  min-width: 27px;
  position: relative;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .checkbox .label, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .checkbox .label {
  font-weight: 300;
  font-size: 16px;
  line-height: 140.5%;
  color: #182C4C;
  margin-left: 21px;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .checkbox .box::after, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .checkbox .box::after {
  content: "\f00c";
  color: #182C4C;
  position: absolute;
  top: 2px;
  left: 5px;
  font-family: 'Font Awesome 5 Free-Solid-900'
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .submit-button, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .submit-button {
  margin-top: 32px;
  min-height: 55px;
  background: #F7A900;
  box-shadow: 0px 2px 12px rgba(24, 44, 76, 0.139505);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .submit-button .label, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .submit-button .label {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.kabi-preview-modal .modal-container .main-section .register-hcp-section .condition::after, .kabi-preview-modal-mobile .modal-container .main-section .register-hcp-section .condition::after {
  content: "\f078";
  color: #fff;
  font-family: 'Font Awesome 5 Free-Solid-900';
  width: 50px;
  height: 35px;
  background: orange;
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding-top: 15px;
}

/* FOOTER */
.kabi-preview-modal-mobile .modal-container .main-section.footer, .kabi-preview-modal .modal-container .main-section.footer {
  background: #fff;
  filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.1));
  padding: 36px 23px 19px;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .disclaimers, .kabi-preview-modal .modal-container .main-section.footer .disclaimers {
  display: flex;
  flex-direction: column;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .disclaimers > div, .kabi-preview-modal .modal-container .main-section.footer .disclaimers > div {
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 28px;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .disclaimers > div, .kabi-preview-modal .modal-container .main-section.footer .disclaimers > div p {
  margin: 0;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body, .kabi-preview-modal .modal-container .main-section.footer .footer-body {
  display: flex;
  flex-direction: column;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .logo-container, .kabi-preview-modal .modal-container .main-section.footer .footer-body .logo-container {
  margin-bottom: 24px;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date {
  display: flex;
  flex-direction: column;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .date-container .date-label, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .date-container .date-label {
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .date-container .date-label::after, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .date-container .date-label::after {
  content: ":";
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .date-container, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .date-container {
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 28px;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .links, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .links > div::after, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .links > div::after {
  content: "|";
  margin-left: 5px;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .links > div, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .links > div {
  font-size: 12px;
  font-weight: bold;
  line-height: 19px;
  margin-right: 5px;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .links > div:last-child, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .links > div:last-child {
  margin: 0;
}

.kabi-preview-modal-mobile .modal-container .main-section.footer .footer-body .links-and-date .links > div:last-child::after, .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .links > div:last-child::after {
  content: "";
}
/* FOOTER END */

@media (min-width: 1367px) {
  .kabi-preview-modal .modal-container .main-section {
    padding: 0 145px;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section {
    margin: unset;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 56px;
    text-align: left;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .user-title {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .firstname {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .lastname {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .country {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .healthcare-organization {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .email {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .password {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .confirm-password {
    margin-bottom: 19px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .registration-number {
    margin-bottom: 32px;
    width: 41.2%;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .checkbox .label {
    margin-left: 13px;
  }

  .kabi-preview-modal .modal-container .main-section .register-hcp-section .submit-button {
    margin-top: 47px;
    width: 255px;
  }

  /* FOOTER */
  .kabi-preview-modal .modal-container .main-section.footer {
    padding: 59px 165px 38px;
    display: flex;
    flex-direction: column;
  }

  .kabi-preview-modal .modal-container .main-section.footer .disclaimers > div {
    margin-bottom: 22px;
  }

  .kabi-preview-modal .modal-container .main-section.footer .footer-body {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }

  .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .date-container {
    text-align: end;
  }

  .kabi-preview-modal .modal-container .main-section.footer .footer-body .links-and-date .links {
    justify-content: flex-end;
  }

  .kabi-preview-modal .modal-container .main-section.footer .footer-body .logo-container {
    margin: 0;
    max-width: 240px;
  }
  /* FOOTER END */

  /* RESTRICTED POPUP START */
  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop {
    height: 100%;
    width: 100%;
    padding: 31px 25px;
    background: linear-gradient( 180deg , rgba(0, 99, 190, 0.59) -54.04%, rgba(7, 182, 208, 0.59) 191.82%);
    backdrop-filter: blur(10px);
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container {
    background: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 44px 28px 38px 27px;
    box-sizing: border-box;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .button-container, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .button-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .title, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .title {
    font-family: 'Interstate';
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #0063BE;
    margin-bottom: 23px;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .image-container, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .image-container {
    margin-bottom: 25px;
    text-align: center;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .button-container .cancel-cta, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .button-container .cancel-cta {
    border: 2px solid #F7A900;
    filter: drop-shadow(0px 2px 12px rgba(24, 44, 76, 0.139505));
    border-radius: 30px;
    font-family: 'Interstate';
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0 14px;
    color: #F7A900;
    text-transform: uppercase;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .button-container .submit-cta, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .button-container .submit-cta {
    border: none;
    background: #F7A900;
    box-shadow: 0px 2px 12px rgba(24, 44, 76, 0.139505);
    border-radius: 30px;
    font-family: 'Interstate';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0 14px;
    margin-bottom: 22px;
    color: #fff;
    text-transform: uppercase;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .content, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .content {
    margin: 0 16px 25px 17px;
    font-family: 'Interstate';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #0063BE;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .content p, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .content p {
    margin: 0;
  }

  .kabi-preview-modal-mobile .modal-container .main-section.restricted-popup .backdrop .container .content a, .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .content a {
    text-decoration: underline;
  }

  @media (min-width: 1367px) {
    .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container {
      padding: 58px 125px 51px 124px;
    }

    .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .title {
      margin-bottom: 32px;
      font-size: 33px;
      line-height: 41px;
    }

    .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .content {
      margin: 0 0 31px;
      font-size: 23px;
      line-height: 40px;
    }

    .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .button-container {
      flex-direction: row;
      justify-content: center;
    }

    .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .button-container .submit-cta {
      margin: 0 0 0 15.5px;
      width: 100%;
    }

    .kabi-preview-modal .modal-container .main-section.restricted-popup .backdrop .container .button-container .cancel-cta {
      margin: 0 15.5px 0 0;
      width: 100%;
    }
  }
  /* RESTRICTED POPUP END */
}

