@media (min-width: 1367px) {
  .kabi-preview-modal {
    .modal-container {
      .main-section {
        &.footer {
          display: flex;
          flex-direction: column;
          padding: 59px 165px 38px;

          .disclaimers {
            & > div {
              margin-bottom: 22px;
            }
          }

          .footer-body {
            align-items: flex-end;
            flex-direction: row;
            justify-content: space-between;

            .links-and-date {
              .date-container {
                text-align: end;
              }

              .links {
                justify-content: flex-end;
              }
            }

            .logo-container {
              margin: 0;
              max-width: 240px;
            }
          }
        }
      }
    }
  }
}
