.kabi-preview-modal-mobile,
.kabi-preview-modal {
  .modal-container {
    .main-section {
      &.footer {
        background: $white-1;
        filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.1));
        padding: 36px 23px 19px;

        .disclaimers {
          display: flex;
          flex-direction: column;

          & > div {
            font-size: 12px;
            line-height: 19px;
            margin-bottom: 28px;

            p {
              margin: 0;
            }
          }
        }

        .footer-body {
          display: flex;
          flex-direction: column;

          .logo-container {
            margin-bottom: 24px;
          }

          .links-and-date {
            display: flex;
            flex-direction: column;

            .date-container {
              font-size: 12px;
              line-height: 19px;
              margin-bottom: 28px;

              .date-label {
                &::after {
                  content: ":";
                }
              }
            }

            .links {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              & > div {
                font-size: 12px;
                font-weight: bold;
                line-height: 19px;
                margin-right: 5px;

                &::after {
                  content: "|";
                  margin-left: 5px;
                }

                &:last-child {
                  margin: 0;

                  &::after {
                    content: "";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
