@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Interstate-bold';
  src: url(../fonts/Interstate-bold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Interstate-light';
  src: url(../fonts/Interstate-light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Brands-Regular-400';
  src: url('../fonts/Font Awesome 5 Brands-Regular-400.otf') format('opentype');
}

@font-face {
  font-family: 'Font Awesome 5 Free-Regular-400';
  src: url('../fonts/Font Awesome 5 Free-Regular-400.otf') format('opentype');
}

@font-face {
  font-family: 'Font Awesome 5 Free-Solid-900';
  src: url('../fonts/Font Awesome 5 Free-Solid-900.otf') format('opentype');
}

$interstate: 'Interstate', sans-serif;
$font-awesome: 'Font Awesome 5 Free-Solid-900';
