@media (min-width: 1367px) {
  .kabi-preview-modal {
    .modal-container {
      .main-section {
        &.restricted-popup {
          .backdrop {
            .container {
              padding: 58px 125px 51px 124px;

              .title {
                font-size: 33px;
                line-height: 41px;
                margin-bottom: 32px;
              }

              .content {
                font-size: 23px;
                line-height: 40px;
                margin: 0 0 31px;
              }

              .button-container {
                flex-direction: row;
                justify-content: center;

                .submit-cta {
                  margin: 0 0 0 15.5px;
                  width: 100%;
                }

                .cancel-cta {
                  margin: 0 15.5px 0 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}


