.kabi-preview-modal-mobile,
.kabi-preview-modal {
  .modal-container {
    .main-section {
      &.restricted-popup {
        .backdrop {
          backdrop-filter: blur(10px);
          background: linear-gradient(180deg, $blue-1 -54.04%, $blue-5 191.82%);
          height: 100%;
          padding: 31px 25px;
          width: 100%;

          .container {
            background: $white-1;
            border-radius: 30px;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 44px 28px 38px 27px;
            width: 100%;

            .button-container {
              display: flex;
              flex-direction: column-reverse;

              button {
                border-radius: 30px;
                text-transform: uppercase;
                padding: 15px 0 14px;
                letter-spacing: 1px;
                text-align: center;
                font-size: 18px;
                line-height: 22px;
                font-weight: bold;
                font-family: $interstate;
              }

              .cancel-cta {
                border: 2px solid $orange-1;
                color: $orange-1;
                filter: drop-shadow(0px 2px 12px rgba(24, 44, 76, 0.139505));
              }

              .submit-cta {
                border: none;
                background: $orange-1;
                box-shadow: 0 2px 12px rgba(24, 44, 76, 0.139505);
                color: $white-1;
                font-style: normal;
                margin-bottom: 22px;
              }
            }

            .title {
              font-family: $interstate;
              font-size: 25px;
              font-weight: bold;
              line-height: 35px;
              text-align: center;
              letter-spacing: 0.4px;
              color: #0063BE;
              margin-bottom: 23px;
            }

            .image-container {
              margin-bottom: 25px;
              text-align: center;
            }

            .content {
              color: $blue-1;
              font-family: $interstate;
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 0.4px;
              line-height: 30px;
              margin: 0 16px 25px 17px;
              text-align: center;

              p {
                margin: 0;
              }

              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
