$register-patient-width: 41.2%;

@media (min-width: 1367px) {
  .kabi-preview-modal {
    .modal-container {
      .main-section {
        padding: 0 145px;

        .register-patient-section {
          margin: unset;

          .title {
            font-size: 38px;
            line-height: 50px;
            margin-bottom: 56px;
            text-align: left;
          }

          .email,
          .condition,
          .access-code,
          .password,
          .confirm-password {
            margin-bottom: 19px;
            width: $register-patient-width;
          }

          .confirm-password {
            margin-bottom: 29px;
          }

          .checkbox {
            .label {
              margin-left: 13px;
            }
          }

          .submit-button {
            margin-top: 54px;
            width: 255px;
          }
        }
      }
    }
  }
}
